@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* MODAL WINDOW */
dialog {
  padding: 3rem;
  border:none;
  border-radius: 9px;
  box-shadow: 0 4px 6px rgb(49, 47, 44);
  margin: auto;
}
dialog[open]{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
